body {
  background-color: #afeeea;
}

.options {
  text-transform: none;
}

.c-question {
  text-align: center;
  /* padding: 50px 0 50px 0 ; */
}

ion-list {
--ion-background-color: #eee !important;
border-radius: 5px;
/* --ion-border-color: transparent !important; */
}

.register__input {
  border-radius: 20px;
}

.register__content {
  margin: 40% 0;
}

.u-text-large {
  font-size: 40px;
}

.c-leaderboard {
  height: 50%;
  position: fixed;
  width: 100%;
  overflow: auto;
}