body {
  background: #e5acb6;
  background-position: 50% 70%;
  color: #f4f5f8;
  font-family: 'Mali' !important;
}

.logo {
  font-family: 'Amatic SC';
  text-align: center;
  padding: 100px 0;
  font-size: 75px;
  font-weight: 900;
}

.c-question {
  text-align: center;
  padding: 50px 0;
}

@media only screen and (max-height: 600px){
  .c-question, .logo {
  padding: 10px 0;
  }

}

ion-button {
  text-transform: capitalize;
  font-family: 'Mali' !important;
  width: 100%;
  color: transparent;
}

ion-list {
--ion-background-color: #eee !important;
border-radius: 5px;
/* --ion-border-color: transparent !important; */
}

.register__input {
  border-radius: 20px;
}

.register__content {
  margin: 40% 0;
}

.u-text-large {
  font-size: 40px;
}

.c-leaderboard {
  height: 50%;
  position: fixed;
  width: 100%;
  overflow: auto;
  padding-top: 0;
}

.c-leaderboard--text {
  text-align: center;
  padding: 30px 0 40px 0;
}

.c-leaderboard__button{
  width: 60px;
  height: 60px;
  border: solid white 1px;
  border-radius: 50%;
  background-color: #f4f5f8;
}
